---
layout: default
title: Chakram - REST API test framework
---

<div class="home">

  <div class="masthead">
    <img src="assets/circle_brush_white.png" width="144" height="144"></img>

    <div class="wrapper">
      Chakram is a REST API testing framework<br>offering a BDD testing style and fully exploiting promises
    </div>
  </div>

  <div class="wrapper">

    <div class="intro col-md-10 col-md-offset-1">
      <h1>Simple API Testing</h1>
      <h4>Chakram allows you to write clear and comprehensive tests,<br>ensuring JSON REST endpoints work correctly as you develop and in the future</h4>
    </div>

    <div class="features">

      <div class="feature col-md-12">
        <div class="img-holder col-md-2 hidden-xs hidden-sm">
          <img src="assets/check.svg" alt="tick icon representing assertions"></img>
        </div>
        <div class="col-sm-12 col-md-10 col-md-offset-2">
          <h3>HTTP Assertions</h3>
          Chakram extends <a href="http://chaijs.com/">Chai.js</a>, adding HTTP specific assertions. It allows simple verification of returned status codes, the compression used, cookies, headers, returned JSON objects and the schema of the JSON response (using the <a href="http://json-schema.org/documentation.html">JSON schema specification</a>).
          <pre><code class="js http">{% include assertions.js %}</code></pre>
        </div>
      </div>
      <div class="feature col-md-12">
        <div class="img-holder col-md-2 hidden-xs hidden-sm">
          <img src="assets/clock.svg" alt="close icon representing promises + asynchronously"></img>
        </div>
        <div class="col-sm-12 col-md-10 col-md-offset-2">
          <h3>Promises</h3>
          API testing is naturally asynchronous, which can make tests complex and unwieldy. Chakram fully exploits javascript promises, resulting in clear asynchronous tests.
          <pre><code class="js promise">{% include promises.js %}</code></pre>
        </div>
      </div>
      <div class="feature col-md-12">
        <div class="img-holder col-md-2 hidden-xs hidden-sm">
          <img src="assets/fishing.svg" alt="hook icon representing BDD hooks"></img>
        </div>
        <div class="col-sm-12 col-md-10 col-md-offset-2">
          <h3>BDD + Hooks</h3>
          Using BDD formatting and hooks, complex tests can be constructed with the necessary setup and tear down operations, all described in natural language for improved clarity and maintenance.
          <pre><code class="js bdd">{% include bdd.js %}</code></pre>
        </div>
      </div>
      <div class="feature col-md-12">
        <div class="img-holder col-md-2 hidden-xs hidden-sm">
          <img src="assets/crane.svg" alt="crane icon representing extensibility"></img>
        </div>
        <div class="col-sm-12 col-md-10 col-md-offset-2">
          <h3>Extensibility</h3>
          Chakram allows new assertions to be added to the framework. This is ideal for adding edge case HTTP assertions or project specific assertions. The end result is less duplication and clearer tests.
          <pre><code class="js extend">{% include extend.js %}</code></pre>
        </div>
      </div>

    </div>



    <div class="install col-md-12">

      <h3>Getting Started</h3>
      Chakram runs on node.js and is distributed via <a href="https://www.npmjs.com/package/chakram">NPM</a>. To begin testing, a node.js application should be created to contain the API tests and Chakram added as a development dependency:
      <pre><code class="bash">npm install --save-dev chakram</code></pre>
      The <a href="http://mochajs.org/">Mocha test runner</a> is used to run Chakram tests – this can be installed globally or as a development dependency. The following command installs Mocha globally:
      <pre><code class="bash">npm install -g mocha</code></pre>
      To run tests, simply call the <a href="http://mochajs.org/#usage">Mocha command line tool</a>. By default, this will run the tests located in the 'test' directory. Mocha can export the test results in many different formats, satisfying the majority of continuous integration platforms.
      <br><br>
      <p>
        <a href="https://github.com/dareid/chakram/tree/master/examples">Examples</a>, <a href="https://github.com/dareid/chakram/tree/master/test">tests</a> and <a href="jsdoc">documentation</a> are available to introduce Chakram's capabilities.
      </p>
      <div class="help">
        <a href="https://github.com/dareid/chakram">Issues, pull requests and questions are welcomed</a> – happy testing!
      </div>
    </div>
  </div>



  <script>
    $(function() {
      hljs.initHighlightingOnLoad();
    });
  </script>

</div>
